@keyframes dance {
  100% {
    margin-left: -70ch;
  }
}
dance {
  font-family: monospace;
  overflow: hidden;
  display: inline-block;
  white-space: pre;
  width: 7ch;
}
dance:before {
  content: "<('.'<)(>'.')><('.'<)<('.'^)^('.'^)(^'.')>(>'.')><('.'<)(>'.')><(^.^)>";
  display: inline-block;
  animation: dance 5s steps(10) infinite;
}
@keyframes roflcopter {
  100% {
    margin-left: -48ch;
  }
}
roflcopter {
  font-family: monospace;
  overflow: hidden;
  display: inline-block;
  white-space: pre;
  width: 24ch;
}
roflcopter:before {
  content: "          :LOL:ROFL:ROFL ROFL:ROFL:LOL:         \A          ___^_____               ___^_____      \A  L      /      [] \\             /      [] \\     \A  O =====           \\    LOL=====           \\    \A  L      \\___________]           \\___________]   \A             I   I                   I   I       \A           ----------/             ----------/   ";
  display: inline-block;
  animation: roflcopter 0.2s steps(2) infinite;
}
@keyframes tableflip {
  100% {
    margin-left: -104ch;
  }
}
tableflip {
  font-family: monospace;
  overflow: hidden;
  display: inline-block;
  white-space: pre;
  width: 13ch;
}
tableflip:before {
  content: "       ┬─┬   )      ┬─┬   °)     ┬─┬   □°)    ┬─┬   °□°)   ┬─┬    °□°)  ┬─┬   ( °□°) ┬─┬   (╯°□°)╯︵ ┻━┻";
  display: inline-block;
  animation: tableflip 2s steps(8) infinite;
}
