body {
  background: #F0F0F0;
  color: #444;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #888888;
}
input[type="text"],
input[type="password"],
textarea {
  border-bottom: 1px solid;
  color: #880000;
}
input[type="checkbox"] + span,
input[type="radio"] + span {
  color: #880000;
}
select {
  color: #880000;
}
option {
  background: #F0F0F0;
}
a {
  color: #BC6060;
}
a:hover,
a:hover > * {
  background-color: #BC6060;
  color: #F0F0F0;
}
a.btn,
a.btn:hover,
button {
  color: #78A960;
}
a.btn.secondary,
button.secondary {
  color: #397300;
}
a.btn.tertiary,
button.tertiary {
  color: #1f7199;
}
a[disabled],
a[disabled]:hover,
button[disabled],
button[disabled]:hover {
  color: #888888;
}
th {
  color: #4d99bf;
}
.status-line {
  background: #F0F0F0;
  border-top: 1px solid #888888;
}
